
@{
    ViewBag.Title = "Alert";
}

<div class="row">
    <div class="col-md-12">

        <h1 class="page-header">Profil</h1>

    </div>
</div>


<div class="row">
    @Html.Partial("_LeftMenu")

    <div class="col-lg-10">

    </div>
</div>
