.myspan {
    width:200px;
    margin-right:18px;
}

.page-header {
   
    margin: 20px 0 20px;
  
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}
  