@model int

<div class="row" id="PartialContent">
    <div class="col-md-12">
        @{
            ViewBag.Title = Resource.PROJECT_Admin_Collabs;
        }

        <h2>@Resource.PROJECT_Admin_Collabs</h2>


        <div class="row" data-bind="foreach: collabs">
            <div class="col-lg-2">
                @Html.Partial("../Account/_profilSmall")
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/knockout")


<script>
    function CollabsVM() {
        var self = this;

        self.collabs = new ko.observableArray();
        self.projectId = '@Model';
        self.getData = function () {
            $.post("/Project/GetCollabs", { id: self.projectId }, function (data) {
                self.collabs(data.Collabs);
                console.dir(data);
            });
        };

        self.getFriendUrl = function (data) {
            var url = '@Url.Action("Profile","Social")';
            return url + '/' + data.Login;
        }

        self.getData();
    }
    var object = $.extend(projectAdministrationBindingRoot, new CollabsVM());



</script>


