@model MoG.Domain.Models.Project
@Styles.Render("~/Content/jQuery.FileUpload/jQueryFileupload")

<div class="row" id="PartialContent">
    <div class="col-md-12">
        <form id="fileupload" method="POST" enctype="multipart/form-data">
            <span class="btn btn-success fileinput-button" style="display:none" id="btnSave">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                <span>Save</span>
            </span>
            <div id="uploadControl">
                <span class="btn btn-success fileinput-button">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Select file...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="files">

                </span>
               
                <br>
                <br>
                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
            </div>
            <!-- The container for the uploaded files -->
            <div id="file" class="files"></div>
            <br>
        </form>
    </div>
</div>
<script src="/Scripts/jQuery.Fileupload/jquery.ui.widget.js"></script>
<script src="/Scripts/jQuery.Fileupload/jquery.fileupload.js"></script>

<script>
    $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var urlUpload = '@Url.Action("UploadArtwork","File")';
        var urlSave = '@Url.Action("SaveArtwork", "File")';
        var projectId = '@Model.Id';

        $("#btnSave").on('click', function () {
            var json = {projectId : projectId};
            $.post(urlSave, json, function (result) {
                if (result.data === true) {
                    window.location.href = result.url;
                }
            });

        });
        $('#fileupload').fileupload({
            url: urlUpload,
            formData: { projectId: projectId },
            dataType: 'json',
            done: function (e, data) {
                $.each(data.result.files, function (index, file) {
                   // $('<p/>').text(file.name).appendTo('#file');

                    $('<img>', { src: file.thumbnailUrl }).appendTo('#file');
                    $('#uploadControl').hide();
                    $('#btnSave').show();
                   // $img.attr("src",file.thumbnailUrl);
                    //.appendTo('#files')
                });
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>