@model MoG.Domain.Models.Project

<div class="row" id="PartialContent">
    <form role="form">
        <div class="form-group col-lg-4">
            <label for="input1">Nom</label>
            <input type="text" name="contact_name" class="form-control" data-bind="value:Project().Name">
        </div>
        <div class="form-group col-lg-4">
            <label for="input2">Type</label>
        
            <select class="form-control" data-bind="options: availablePublicity, optionsText: 'Name', optionsValue:'Value', value: Project().VisibilityType"></select>
        </div>
        <div class="form-group col-lg-4">
            <label for="input3">Licence</label>
            <select class="form-control" data-bind="options: availableLicence, optionsText: 'Name', optionsValue:'Value', value: Project().LicenceType"></select>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-lg-12">
            <label for="input4">Description</label>
            <textarea name="description" class="form-control" rows="6" data-bind="value:Project().Description"></textarea>
        </div>

      
        <div class="form-group col-lg-12">
            <a href="@Url.Action("delete", new { id = Model.Id})" class="btn btn-danger pull-right">Supprimer</a>

            <input type="hidden" data-bind="value:Project().Id">
            <button type="button" class="btn btn-default" data-bind="click: btnSaveClicked">Save</button>
            <span data-bind="text : message(), visible : isMessageVisible"></span>
        </div>
    </form>
</div>
<script>
    function SettingsVM() {

        var self = this;

        this.availablePublicity = ko.observableArray([
   new SelectItem("Public", 1),
   new SelectItem("Private", 2)
        ]);

        this.availableLicence = ko.observableArray([
   new SelectItem("CC BY", 1),
   new SelectItem("CC BY-ND", 2),
   new SelectItem("CC BY-ND-NC", 3)
        ]);



    }
    var object = $.extend(projectAdministrationBindingRoot, new SettingsVM());
</script>
         