@{
    ViewBag.Title = "Home Page";
}


@section Carousel{
    <div id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 data-bind="visible : !registered()">
                        Hi there ! <br />
                        How are you?
                    </h1>
                    <h1 data-bind="visible : registered">
                        thank you :) <br />
                        We'll keep in touch soon.
                    </h1>
                    <div data-bind="visible : !registered()">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <input type="email" class="form-control" id="exampleInputEmail1" data-bind="value:email" placeholder="Enter your email address">
                            </div>
                            <button data-bind="click : btnInviteMeClicked,enable : !isLoading()" class="btn btn-warning btn-lg">Invite Me!</button>
                        </form>
                    </div>


                </div><!-- /col-lg-6 -->
                <div class="col-lg-6">
                    <img class="img-responsive" src="@Url.Content("~/Content/Images/ipad-hand1.png")" alt="">
                </div><!-- /col-lg-6 -->

            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /headerwrap -->
}


@section Scripts
{
    @Scripts.Render("~/bundles/knockout")

    <script>
        function HomeVM() {
            var self = this;
            self.email = ko.observable();
            self.registered = ko.observable();
            self.isLoading = ko.observable(false)

            self.btnInviteMeClicked = function () {
                self.isLoading(true);

                if (self.email() && self.validateEmail(self.email())) {
                    var url = '/Home/InviteMe';
                    var data = { email: self.email() };


                    $.ajax(url,
                        {
                            type: 'POST',
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            dataType: 'json',
                            error: function (data) { alert(data); },
                            success: function (data) {
                                if (data) {
                                    self.registered(true);
                                }
                            }
                        }
                   );


                }
                self.isLoading(false);
            }
            self.validateEmail = function (email) {

                var filter = /^([a-zA-Z0-9_\.\-])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                
                return filter.test(email);
            }

        }

        ko.applyBindings(new HomeVM());
    </script>


}