
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Offline</title>
</head>
<body>
    <div> 
        <img src="/content/Images/down_for_maintenance.png" alt="" />
    </div>
</body>
</html>
