<div class="container" id="dynamicContent">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" value="Rock,Punk,Detroit,Sydney#,Oslo" data-role="tagsinput" class="form-control" />
            </div>
        </div>
    </div>
</div>