@{
    ViewBag.Title = "Messages";
}

<div class="row">
    <div class="col-md-12">

        <h1 class="page-header">@ViewBag.Title</h1>

    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills nav-stacked" data-bind="foreach: folders">
            <li data-bind="
                   css: { active: $data == $root.chosenFolderId() },
                   click: $root.goToFolder"><a href="#" data-bind="text: $data"></a></li>
        </ul>
    </div>

    @*@Html.Partial("_LeftMenu")*@
    <div class="col-lg-10">
        <div>
            <button type="button" class="btn btn-default  btn-block" onclick="showMsgForm()" id="btnNewMessage">Ecrire un nouveau message</button>
        </div>

        <div class="panel panel-default hidden" id="pnlNewMessage">
            <div class="panel-body">
                <button type="button" class="close" aria-hidden="true" onclick="hideMsgForm()">&times;</button>
                <div class="row">
                    <form role="form" class="form-horizontal" data-bind="submit: sendMail">
                        <div class="form-group">
                            <label for="to" class="col-sm-2 control-label">Pour</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  data-bind="value: to" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="to" class="col-sm-2 control-label">TItre</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control"  data-bind="value: title" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-sm-2 control-label">Message</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="3" data-bind="value: body"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button class="btn btn-default" type="submit">Envoyer</button>
                            </div>
                        </div>
                    </form>
                   
                </div>

            </div>
        </div>
        <div data-bind="foreach : chosenFolderData">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-sm-6"><span data-bind="text: Sender"></span> | <span data-bind="text: SentOn"></span>... (TODO : Replyed on )</div>
                        <div class="col-sm-offset-1 col-sm-2">
                            <span class="glyphicon glyphicon-comment"></span>
                            <span class="glyphicon glyphicon-zoom-in"></span>
                        </div>
                        <div class="col-sm-offset-2 col-sm-1">
                            <span class="glyphicon glyphicon-trash"></span>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p>
                        <strong><span data-bind="text :Title"></span></strong><br />
                        <span data-bind="text :Body"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/knockout")

    <script type="text/javascript">
        function showMsgForm() {
            $("#pnlNewMessage").removeClass("hidden");
            $("#btnNewMessage").addClass("hidden");
            return false;
        }
        function hideMsgForm() {
            $("#pnlNewMessage").addClass("hidden");
            $("#btnNewMessage").removeClass("hidden");
            return false;
        }

        //// Class to represent a message
        //function Message(From, To, CreatedOn, Title, Body) {
        //    var self = this;
        //    self.from = From;
        //    self.to = To;
        //    self.createdOn = CreatedOn;
        //    self.title = Title;
        //    self.body = Body;
           

          
        //}


        function MessageVM() {

            var self = this;


            self.folders = ['Recus', 'Envoyé', 'Archives', 'Recherche','Live CHat'];

            //self.folders = new Object();
            //self.folders['Recus'] = 'Inbox';
            //self.folders['Envoyé'] = 'Outbox';
            //self.folders['Archives'] = 'Archives';
            self.controllerParam = new Object();
            self.controllerParam[self.folders[0]] = 'Inbox';
            self.controllerParam[self.folders[1]] = 'Outbox';
            self.controllerParam[self.folders[2]] = 'Archives';
            self.controllerParam[self.folders[3]] = 'Search';
            self.controllerParam[self.folders[4]] = 'LiveChat';


            self.chosenFolderId = ko.observable();
            self.chosenFolderData = ko.observable();

            //var emptyMessage = { title: "", to: "", body: "" };
            //self.message = ko.observable(emptyMessage);

            self.to = ko.observable();
            self.title = ko.observable();
            self.body = ko.observable();

            // Behaviours
            self.goToFolder = function (folder) {
                self.chosenFolderId(folder);

                $.ajax({
                    url: '/Message/GetFolder',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: { "folderName": self.controllerParam[folder], "_nocache": new Date().getMilliseconds() },
                    success: function (data) {
                        self.chosenFolderData(data);
                    }
                });



            };

            self.sendMail = function () {
                var jsonPost = { "to": self.to(), "title": self.title(), "body": self.body() };
                
                $.ajax({
                    type: "POST",
                    url: '/Message/Send',
                    //dataType: 'json',
                    //contentType: 'application/json',
                    data: jsonPost,
                    cache: false,
                    success: function (data) {
                        self.to("");
                        self.title("");
                        self.body("");

                        $.ajax({
                            url: '/Message/GetFolder',
                            dataType: 'json',
                            contentType: 'application/json',
                            data: { "folderName": "Inbox", "_nocache": new Date().getMilliseconds() },
                            success: function (data) {
                                self.chosenFolderData(data);
                            }
                        });

                    }
                });
            }


            //initialization
            self.goToFolder(self.folders[0]);




        };

        ko.applyBindings(new MessageVM());


    </script>


}