
@{
    ViewBag.Title =@Resource.PROFILE_Storage;
}

<div class="row">
    <div class="col-md-12">

        <h1 class="page-header">@Resource.PROFILE_PageTitle</h1>

    </div>
</div>


<div class="row">
    @Html.Partial("_LeftMenu")

    <div class="col-lg-10">

    </div>
</div>
